<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Etudiants de master m2
  </h1>
  <h3>
    TP n°3 : {{ title }}
  </h3>
</div>
<div class="container">
  <app-panel-text></app-panel-text>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul>
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
        <app-appareil [appareilName]="appareilTree" [appareilStatus]="'éteint'"></app-appareil>
      </ul>
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
